p {
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    padding-top: 10px;


}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.discord-logo {
    width: 150px;
    font-weight: bolder;
    margin-right: 1px;
}

.logo-img{
    margin-top: 6px;
    
}

.middle-section {
    flex: 1;
    margin-left: 20px;
    margin-right: 70px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0;
    
}

.middle-section p {
    margin-left: 30px;
    font-size: 16px;
}

.middle-section p:hover {
    text-decoration: underline;
}

.right-section {
    display: flex;
    align-items: center;
    margin-right: 180px;
    flex-shrink: 0;
}

.open-discord {
    padding: 6px;
    background-color: white;
    border-radius: 30px;
    height: 37px;
    width: 120px;
    font-weight:100 ;
    border: none;
    transition: 0.5s;
}

.open-discord:hover {
    color: #5865f2;
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.15);
}

.page1 {
    height: 600px;
    background: url(/images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    
}
.primary-title {
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    height: 50px;
    
    
}
.description {
    width: 800px;
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.download-for-windows {
    margin-right:20px ;
    height: 62px;
    width: 300px;
    border-radius: 40px;
    border: none;
    font-weight:bold ;
    transition: 0.7s;
}
.download-for-windows:hover {
    color: #5865f2;
    box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.15);
}

.open-discord-in-your-browser {
    height: 62px;
    width: 300px;
    border-radius: 40px;
    border: none;
    color:white;
    background-color: rgb(39, 39, 39);
    font-weight:bold ;
    transition:  0.7s;
}
.open-discord-in-your-browser:hover {
    background-color: rgb(52, 52, 52);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}

.page2 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.row-container {
   margin-left: -140px;
}
.paragraph {
   
    margin-left: 10px;
    margin-top: 40px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.paragraph p {
    font-size: 17px;
    font-weight: 100;
    width: 300px;
    line-height: 25px;
    color: rgb(86, 86, 86);
}


.page3 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(233, 233, 233);
    padding-top: 150px;
    padding-bottom: 150px;
}

.row-container2{
    margin-right: 200px;
}

.paragraph2 {
    margin-left: 300px;
    margin-top: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph2 p {
    font-size: 17px;
    font-weight: 100;
    width: 300px;
    line-height: 25px;
    color: rgb(86, 86, 86);
}

.page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
    background-color: rgb(233, 231, 231);
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.head {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.sentence {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}
.download-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    color: black;
    margin-top: 80px;
    font-size: 30px;
}

.download-button {
    color: white;
    font-size: 17px;
    margin-top: 20px;
    height: 52px;
    width: 250px;
    border-radius: 40px;
    border: none;
    font-weight:bold ;
    background-color: #5865f2;
    margin-bottom: 80px;
}
